@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">201795097 하태형</h1>
    <h1 class="display-4">2022년 04월 12일</h1>
    <h1 class="display-4">클라우드 과제용 프로젝트!</h1>
</div>
